* {
    font-family: "Segoe UI","Microsoft Yahei",Ubuntu,system-ui,sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0
}

.fixed {
    position: fixed;
    top: 0
}

.header {
    background: #ff8080;
    border-bottom: 1ch solid #8080ff;
    color: #fff;
    padding-left: 1ch;
    width: 100%
}

.headerlink {
    color: #fff;
    text-decoration: none
}

.pinkxample a,a:link,a:visited {
    color: #8080ff
}

code,textarea {
    font-family: Consolas,"Ubuntu Mono","Source Code Pro",monospace
}

.red,code {
    background: rgba(255,128,128,.25)
}

.blue {
    background: rgba(128,128,255,.25)
}

.grey {
    background: rgba(128,128,128,.25)
}

.green {
    background: rgba(128,255,128,.25)
}

h2,p,ul {
    padding-left: 1ch;
    padding-right: 1ch
}

h2 {
    color: #ff8080
}

img,video {
    display: block;
    max-height: 90vh;
    max-width: 100%
}

p {
    max-width: 70ch
}

p,ul {
    line-height: 1.5
}